.menu-item a{
    text-decoration:none;
    color:white;
}

@media screen and (max-width: 400px){
    .logout-btn{
        width:80px;
        margin:auto;
    }
    .menu-item a{
        margin-right:0 !important;
    }
}
