.menu-item a{
    text-decoration:none;
    color:white;
}

@media screen and (max-width: 600px){
    .signup-btn{
        margin-right:0 !important;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .logout-btn{
        width:80px;
        margin:auto;
    }
    .menu-item a{
        margin-right:0 !important;
    }
}
