.testimonial-1{
    background-color: #0274FA;
    color:white;
    border-radius:20px;
    width:600px !important;
}
img{
    border-radius:50%;
    padding-top:10px;
}
.testimonial-2{
    background-color: #36C777;
    color:white;
    border-radius:20px;
    width:600px !important;
}
.testimonial-3{
    background-color: #0274FA;
    color:white;
    border-radius:20px;
    width:600px !important;
}
.testimonial-4{
    background-color: #36C777;
    color:white;
    border-radius:20px;
    width:600px !important;
}

@media screen and (max-width: 500px) {
    .testimonial-1{
        width:250px !important;
    }
    .testimonial-2{
        width:250px !important;
    }
    .testimonial-3{
        width:250px !important;
    }
    .testimonial-4{
        width:250px !important;
    }
}