.contact-bg-img{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://templates.envytheme.com/mediva/default/assets/img/page-banner/page-banner-2.jpg);
    height:300px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top:100px;
}