.banner-area{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://templates.envytheme.com/mediva/default/assets/img/main-banner/banner-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:700px;
    margin-top:20px;
}
.text-area{
    padding-top:280px;
    color:#FFFFFF;
}
.title{
    font-size:48px;
}
.input-area{
    background-color: #DDE3E8;
    padding: 20px;
    width:600px;
    margin:auto;
    border-radius:10px;
}

@media screen and (max-width: 600px) {
    .input-area{
        flex-direction: column;
        width:100%;
    }
    .title{
        font-size:30px;
    }
}